.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  font-family: "Segoe UI", Roboto, sans-serif;
}

.ButtonContainer {
  display: flex;
  margin-top: 16px;
  gap: 20px;
}
.link {
  &:hover {
    text-decoration-line: underline;
  }
}
